<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Participants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div>
    <table>
        <caption>Participants</caption>
        <form th:action="@{participants}" method="get">
            <label>
                <input type="text" th:name="query">
            </label>
            <button type="submit">Search</button>
        </form>
        <br><br>
        <a th:href="@{participants/new}">Add new participant</a> <br>
        <thead>
        <tr>
            <th>Participant ID</th>
            <th>Name</th>
            <th>Sport</th>
            <th>Country</th>
            <th>External ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="participant: ${allParticipants}">
            <td th:text="${participant.id}"></td>
            <td th:text="${participant.name}"></td>
            <td th:text="${participant.sport}"></td>
            <td th:text="${participant.country}"></td>
            <td th:text="${participant.externalId}"></td>
            <td>
                <form th:action="@{participants/delete/{id}(id=${participant.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
                <form th:action="@{participants/{id}(id=${participant.id})}" method="get">
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <ul>
        <div th:if="${query==null}">
            <li th:each="i : ${#numbers.sequence(1,availablePages)}">
                <a th:href="@{participants?page={pageNumb}(pageNumb=${i})}" th:text="${i}"></a>
            </li>
        </div>

    </ul>
    <ul>
        <div th:if="${query!=null}">
            <li th:each="i : ${#numbers.sequence(1,availablePages)}">
                <a th:href="@{${'/participants'}(query = ${query}, page=${i})}"
                   th:text="${i}">

                </a>
            </li>
            <br><br>
            <a href="/participants">
                <button>Return to all Participants` list</button>
            </a>
        </div>
    </ul>
</div>
</body>
</html>
