<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New participant</title>
</head>
<body>
<div>
    <form th:action="@{save}" th:object="${participant}" method="post">
        <h1>New participant</h1>
        <table>
            <tr>
                <td>Name:</td>
                <td><label>
                    <input type="text" th:field="*{name}"/>
                </label></td>
            </tr>
            <tr>
                <td>Sport:</td>
                <td><label>
                    <input type="text" th:field="*{sport}"/>
                </label></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td><label>
                    <input type="text" th:field="*{country}"/>
                </label></td>
            </tr>
            <tr>
                <td>External ID:</td>
                <td><label>
                    <input type="text" th:field="*{externalId}"/>
                </label></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>


</body>
</html>